<article class="post container">
    <div class="post-header-section">
        <h1>{{ or (.Params.H1 | markdownify) (.Title | markdownify) }}</h1>

        <p class="post-date">
            <span class="post-icon">&#9998;</span>
            {{ if (eq .Site.Params.DisplayReadingTime true) }}
                {{ .ReadingTime }} min read |
            {{ end }}
            {{ dateFormat (or .Site.Params.dateFormat "January 2, 2006") .Date }}
            {{ if lt .Date .Lastmod }}
                | Updated {{ dateFormat (or .Site.Params.dateFormat "January 2, 2006") .Lastmod }}
            {{ end }}
        </p>

        {{ if .Description }}
        <p class="post-description">{{ .Description }}</p>
        {{ end }}

        {{ with .Params.tags }}
        <ul class="post-tags">
            {{ range . }}
            <li class="tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </div>

    <hr class="sketch-divider">

    <div class="post-content">
        {{ .Content }}
    </div>

    {{ if or .PrevInSection .NextInSection }}
    <div class="prev-next sketch-nav">
        {{ with .NextInSection }}
        <a class="prev-link" href="{{ .Permalink }}">&larr; {{ .Title }}</a>
        {{ end }}
        {{ with .PrevInSection }}
        <a class="next-link" href="{{ .Permalink }}">{{ .Title }} &rarr;</a>
        {{ end }}
    </div>
    {{ end }}
</article>
{{- partial "toc.html" . -}}
